.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

a {
    color: #473732;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-link {
    padding: 20px 28px;
    box-sizing: border-box;
}

.navbar-cart {
    display: flex;
    padding: 20px 28px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.navbar-shop {
    display: flex;
    padding: 20px 28px;
    align-items: center;
    box-sizing: border-box;
    border: #47373200 solid 2px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 600px;
    right: 0;
    z-index: 1;
    padding: 60px 32px;
    border: #574945 solid 2px;
    background-color: #D9C7B9;
    border-radius: 10px 0 10px 10px;
}

.dropdown-content h2 {
    margin: 0;
    margin-bottom: 1.2rem;
}

.dropdown-details {
    display: flex;
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
}

.cart-image {
    margin-right: 2.4rem;
}

.dropdown-item-name {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}

.dropdown-details-desc {
    min-width: 350px;
}

.ind {
    padding: 0 16px;
    font-size: 20px;
}

.delete {
    position: absolute;
    right: 0px;
    width: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
}

.cart-interaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.cart-button-area {
    display: flex;
    align-items: center;
}

.navbar-cart-active {
    border-radius: 10px 10px 0 0;
    border: #473732 solid 2px;
    border-bottom: none;
    background-color: #D9C7B9;
}

.navbar-cart img {
    width: 32px;
    height: auto;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.cart-button {
    font-size: 1.2rem;
    padding: 16px 52px;
    background-color: #473732;
    border: none;
    color: white;
    border-radius: 25px;
    margin: 32px auto 0 auto;
    width: 100%;
    cursor: pointer;
}

.hero-image {
    background-image: url("../images/jakub-dziubak-XtUd5SiX464-unsplash.jpg");
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: 100% auto;
}

.dropdown:hover .dropdown-shop{
    display: block;
}

.dropdown-shop {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #f1f1f1;
    left: 0;
    z-index: 1;
    padding: 20px 18px;
    border: #574945 solid 2px;
    background-color: #D9C7B9;
    border-radius: 0 10px 10px 10px;
}

.dropdown-link {
    display: inline-block;
    margin-bottom: 10px;
    width: fit-content;
}

.navbar-shop-active {
    border-radius: 10px 10px 0 0;
    border: #473732 solid 2px;
    border-bottom: none;
    background-color: #D9C7B9;
}